.container {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
  width: 100%;
  .imageDiv {
    height: 20rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .type {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      text-transform: capitalize;
      font-family: 'system-ui';
      font-size: 1.2rem;
      text-align: center;

      padding: 1rem;
    }
  }
}
